@font-face {
    font-family: 'Inknut';
    src: url('./assets/Inknut_Antiqua/InknutAntiqua-Regular.ttf');
}

@font-face {
    font-family: 'Inknut-bold';
    src: url('./assets/Inknut_Antiqua/InknutAntiqua-Bold.ttf');
}

@font-face {
    font-family: 'Open-sans';
    src: url('./assets/Open_Sans/OpenSans-Light.ttf');
}

* {
  margin: 0;
  padding: 0;
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
  height: 100%;
  width: 100%;
  color: #2C2C2C;
  text-align: center;
}

.center {
  text-align: center;
}

body > div {
  position: relative;
  top: 50vh;
  transform: translateY(-50%);
}

h1 {
  font-family: 'Inknut', serif;
  text-align: center;
  font-size: 1.5rem;
}

p {
  padding: 10px 25vw;
  font-family: 'Open-sans', sans-serif;
  text-align: left;
}

a {
  color: #2C2C2C;
}

a:hover {
  color: #2C2C2C;
}

img {
  height: 2rem !important;
  margin-top: 10px;
}

@media only screen and (max-width: 1000px) {
  p {
    padding: 10px 15vw;
    font-size: 18px !important
  }
}

@media only screen and (max-width: 425px) {
  body > div {
    top: 45vh;
  }
}
